@use 'variaveis';


.team {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__stark,
    &__cap {
        padding: 5.6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 64px;

        @media (max-width:768px) {
            flex-direction: column;
        }

        &__infos {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        img {
            width: 50%;
            border-radius: 8px;

            @media (max-width:768px) {
                flex-direction: column;
                width: 100%;

            }
        }
    }

    &__stark {
        background-color: rgba($color: variaveis.$titleColor, $alpha: .04);

        h2 {
            color: variaveis.$titleColor
        }

        @media (max-width:768px) {
            flex-direction: column-reverse
        }
    }

    &__cap {
        background-color: rgba($color: blue, $alpha: .04);

        h2 {
            color: blue
        }
    }

}